In [1]:
import json
import requests
import pandas as pd
from pprint import pprint

In [7]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.co/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []

# Loop through each character and make API request
for character in search_characters:


    # Create search query, make request and store in json
    response = requests.get(url + character).json()
#     pprint(response)
    
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        character_height = response['results'][0]['height']
        character_mass = response['results'][0]['mass']
        height.append(character_height)
        mass.append(character_mass)
    except:
        print(f"{character} is not a Star Wars Character")
        height.append(None)
        mass.append(None)
        pass
    
        
    # Handle exceptions for a character that is not available in the Star Wars API
    
print(height)
print(mass)

Godzilla is not a Star Wars Character
Frodo is not a Star Wars Character
Iron Man is not a Star Wars Character
Jon Snow is not a Star Wars Character
['96', '202', None, '172', None, '183', None, None, '180']
['32', '136', None, '77', None, '78.2', None, None, '80']

In [10]:
# Create DataFrame
df = pd.DataFrame({
    "Character": search_characters,
    "Height": height,
    "Mass": mass
})

df

clean_df = df.dropna(how="any")

clean_df

        Character Height  Mass
0           R2-D2     96    32
1     Darth Vader    202   136
3  Luke Skywalker    172    77
5       Boba Fett    183  78.2
8        Han Solo    180    80